@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

:root {
    --primary-color: #A5B4FC;
    --outline-color: #374151;
    --dark-gray: #d3d5d8;
    --light-gray: #eceff3 ;
    --off-white: #f3f4f6;
}

.component-container {
    border: 1px;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: "5px 10px 5px #F3F4F6";
}

.iframe-container {
    border: 1px;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    width: auto;
    margin: 0 auto;
}

/* Avatar section : START*/
.avatar {
    vertical-align: middle;
    border-radius: 50%;
}

.small {
    width: 50px;
    height: 50px;
}

.medium {
    width: 100px;
    height: 100px;
}

.big {
    width: 150px;
    height: 150px;
}

/* Avatar section : END*/

/* Alerts section : BEGIN*/

.alert {
    align-content: center;
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
    background-color: #f44336;
    background-image: linear-gradient(to top left, #cf2014, #743531);
    color: white;
    margin-bottom: 1rem;
}

.alert-close-button {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert+.success {
    background-color: #4CAF50;
    background-image: linear-gradient(to top left, #4CAF50, #08830e);
}

.alert+.info {
    background-color: #2196F3;
    background-image: linear-gradient(to top left, #187dcf, #104977);
}

.alert+.warning {
    background-color: #ff9800;
    background-image: linear-gradient(to top left, #ff9800, #8a570b);
}

/* Alerts section : END*/
/* Badges section : START*/

.avatar-container {
    display: inline-block;
    position: relative;
}

.badge {
    position: absolute;
}

.badge-round {
    border-radius: 50%;
    height: 0.8rem;
    width: 0.8rem;
}

.badge-border {
    border: 2px solid white;
}

.badge-bottom {
    bottom: 0em;
    right: 0em;
}

.badge-top {
    top: 0em;
    right: 0.2em;
}

.badge-active {
    background-color: #10b981;
}

.badge-inactive {
    background-color: wheat;
}

/* Badges section : END*/
/* Buttons section : START*/

.button {
    padding: 1rem 1.5rem;
    border-radius: 0.8rem;
    border: none;
    cursor: pointer;
    outline: none;
}

.button-round {
    border-radius: 50%;
}

.primary-button {
    background-color: var(--primary-color);
    color: #374151;
    border: 1px;
}

.secondary-button {
    background-color: transparent;
    color: var(--outline-color);
    border-color: var(--outline-color);
    border: 1px solid;
}

.floating-action-button {
    position: fixed;
    right: 4rem;
    bottom: 2rem;
    z-index: 1;
    background-color: var(--primary-color);
    color: var(--primary-color);
    padding: 1rem;
    border: 1px solid var(--outline-color);
    cursor: pointer;
    font-size: 1rem;
    outline: none;
}

/* Buttons section : END*/
/* Cards section : START*/
.card-div {
    position: relative;
    display: grid;
    grid-template-areas:
        "h1 h1 h1"
        "card-badge-div card-dismiss-div card-horizontal-div"
        "card-shadow-div card-text-overlay-div card-text-div";
    gap: 1rem;
}

.card {
    border: 1px solid;
    position: relative;
    left: 1rem;
    top: 1rem;
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    min-width: 230px;
}

.card-div>h1 {
    grid-area: h1;
}

.card>img {
    border: 1px solid var(--outline-color);
    border-radius: 1rem;

}

.card-image {
    width: 100%;
}

.card-badge {
    position: absolute;
    top: 2em;
    left: 0em;
    background-color: var(--primary-color);
    color: #151d2e;
    border-radius: 0.2rem;
}

.card-remove {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem 0.5rem;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    font-size: 1rem;
    background-color: transparent;
}

.card-overlay {
    grid-area: card-overlay;
    position: absolute;
    max-height: 5rem;
}

.card-badge-div {
    grid-area: card-badge-div;
    position: relative;
}

.card-dismiss-div {
    grid-area: card-dismiss-div;
    position: relative;
}

.card-text-div {
    grid-area: card-text-div;
    position: relative;
}

.card-text-overlay-div {
    grid-area: card-text-overlay-div;
    position: relative;
}

.card-horizontal-div:after {
    grid-area: card-horizontal-div;
    position: relative;
}

.horizontal-card {
    display: table;
    min-width: 350px;
}

.horizontal-card-column {
    float: left;
    width: 50%;
}

.card-shadow-div {
    grid-area: card-shadow-div;
    position: relative;

}

.shadow-card {
    box-shadow: 5px 10px #888888;
}

/* Cards section : END*/
/* Responsive Image section : START*/
.responsive-img-div {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid;
    border-radius: 1rem;
}

.responsive-img-div1 {
    /* max-width: 500px;
    max-height: 500px; */
    padding: 1rem;
    margin: 1rem;
    border: 1px;
}

.responsive-img-div2 {

    padding: 1rem;
    margin: 1rem;
    border: 1px;
}

.responsive-img-1 {
    width: 100%;
    height: auto;
}

.responsive-img-2 {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

/* Responsive Image section : END*/
/* Input section : START*/
.input-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-error-div {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.input {
    width: 50%;
    max-width: 70%;
    padding: 1rem;
    font-size: 0.8rem;
    border-radius: 0.6rem;
    outline: 0;
    transition: 0.2s;
}

.input-style {
    border: 1px solid;
}

.input-style:focus {
    border: 2px solid;
}

.error-style {
    border: 2px solid rgba(184, 14, 14, 0.692);
}

.error-text {
    display: block;
    color: rgba(184, 14, 14, 0.692);
    font-weight: bold;
    padding: 0.1rem 0 0 0.5rem;
}

/* Input section : END*/
/* List section : START*/
.list-div {
    display: flex;
    flex-direction: row;
}

.list-spaced-div {
    border: 1px;
    padding: 1rem;
    margin: 1rem;
}

.list-spaced-div>ul>li {
    border: 1px solid;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    list-style-type: none;
}

.list-stacked-div {
    border: 1px;
    padding: 1rem;
    margin: 1rem;

}

.list-stacked-div>ul>li {
    border: 1px solid;
    padding: 1rem;
    list-style-type: none;
}

/* List section : END*/
/* Navigation section : START*/
.nav-div {
    position: relative;
}

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.1rem;
    width: auto;
}

.nav-primary {
    background-color: #A5B4FC;
    color: rgb(0, 0, 0);
    border: 1px;
}

.nav--logo {
    font-size: 2rem;
    /* text-transform: uppercase; */
    font-weight: 700;
    padding-left: 1rem;
    color: #151d2e;
}

.nav--list {
    display: flex;
    list-style-type: none;
}

.nav-item {
    padding: 1.5rem 1rem;
    transition: background-color 0.7s;
}

.nav-item:hover {
    background-color: #7e91f0;
}

.nav-item>a {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.nav-link {
    text-decoration: none;
}

/* Navigation section : END*/
/* Modal section : START*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--primary-color);
    color: #151d2e;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.close {
    color: rgb(255, 255, 255);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.float {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

/* Modal section : END*/
/* Rating section : START*/
.rating-div {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid;
    border-radius: 1rem;
}

.clip-star {
    background: gold;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 1rem;
    width: 1rem;
}

/* Rating section : END*/
/* Grid section : START*/
.two-grid-div {
    display: grid;
    grid-template-areas:
        "card1-two-grid card2-two-grid";
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.card1-two-grid {
    grid-area: card1-two-grid;
    border: 1px solid;
    padding: 1rem;
    margin: 1rem;
}

.card2-two-grid {
    grid-area: card2-two-grid;
    border: 1px solid;
    padding: 1rem;
    margin: 1rem;
}

.three-grid-div {
    display: grid;
    grid-template-areas:
        "card1-three-grid card2-three-grid card3-three-grid";
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.card1-three-grid {
    grid-area: card1-three-grid;
    border: 1px solid;
    padding: 1rem;
    margin: 1rem;
}

.card2-three-grid {
    grid-area: card2-three-grid;
    border: 1px solid;
    padding: 1rem;
    margin: 1rem;
}

.card3-three-grid {
    grid-area: card3-three-grid;
    border: 1px solid;
    padding: 1rem;
    margin: 1rem;
}
/* Grid section : END*/
/* Text utilities section : START*/

/* Text utilities section : END*/
/* Toast section : START*/
/* This did not work when toast was a class... figure out*/
/* That was because [0] wasn't given to class selector in js file*/
.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    position: fixed;
    z-index: 1;
    left: 50%;
    right: 50%;
    bottom: 120px;
    font-size: 2rem;
    align-content: center;
    display: flex;
}

.toast-close-button{
    color: rgb(0, 0, 0);
    font-weight: bold;
    float: right;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    background-color: transparent;
}
/* Toast section : END*/